/*footer start*/
.footer {
    background-color: rgba(239, 255, 232, 1);
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;

    &::before
    {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0px;
      background: url('../../../assets/images/footer-cricle.svg');
      background-repeat: no-repeat;
      width: 500px;
      height: 600px;
    }

    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background : url('../../../assets/images/footer-Rectangle.svg');
      background-repeat: no-repeat;
      max-width: 500px;
      width: 100%;
      height: 250px;

      @media (max-width: 1200px){
        opacity: 0;
      }
    }

    .footer-row {
      gap: 0px;
      padding: 81px 0;
      // border: 2px solid black;

      @media (max-width: 990px) {
        gap: 20px;
      }

      @media (max-width: 768px) {
        gap: 20px;
      }

      .footer-col {
        margin: 0;
        padding: 0;

        .seo-title-text {
          @include text-style(600, 20px, 28px, 1.09px);
          text-transform: uppercase;
          color: $success;
          position: relative;
          display: inline-block;
          padding: 0;
          margin: 0;

            .pink-underline {
              position: absolute;
              bottom: 0px;
              left: 0;
              width: 80%;
              height: auto;
              pointer-events: none;
              z-index: 1;
              opacity: 0.8;
            }
        }
      
        li {
          @include text-style(400, 16px, 24px, 0%);
          margin-top: 16px;
        }
  
        #newsletter1 {
          width: 100%;
          height: 52px;
          margin-top: 16px;
        }
  
        .btn {
          margin-top: 10px;
          height: 52px;
          width: 100%;
  
          @media (min-width: 576px) {
            width: auto;
            margin-left: 0;
          }
        }
  
        .copy-right {
          @include text-style(400, 14px, 0px, 0%);
          text-align: center;
          color: rgba(74, 74, 74, 1);
        }
      }
  
      .f-col-1 {
        p {
          @include text-style(400, 13px, 28px, 0%);
          color: $success;
          margin-bottom: 24px;
          margin-top: 10px;
        }
  
        li {
          display: inline;
          margin-right: 7px;
        }
  
        .fa-google,.fa-twitter,.fa-instagram,.fa-linkedin 
        {
          width: 42px;
          height: 40px;
          background-color: $success;
          @include rounded(50%);
          color: $white;
          @include text-style(400, 16px, 40px, 0%);
          text-align: center;
        }
      }

      .f-col-3
      {
        @media (max-width: 990px)
        {
          margin-top: -190px;
        }
        @media (max-width: 767px)
        {
          margin-top: 0;
        }
      }
  
      .f-col4 {
        li {
          border-bottom: 1px solid rgba(74, 74, 74, 0.3);
          padding-bottom: 16px;
      
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .f-col-5{
        border-left: 1px solid $primary-green;
        padding-left: 40px;
        height: 240px;

        .pink-underline{
          margin-bottom: -4px;
          margin-left: 60px;
        }

        @media (max-width: 990px)
        {
          padding-left: 5px;
          margin-top: -150px;
          height: 180px;
        }
        @media (max-width: 780px)
        {
          margin-top: 0;
        }
        @media (max-width: 600px)
        {
          padding-left: 10px;
          height: 210px;
        }
    
      }

    
      .input-with-button {
        position: relative;
        max-width: 362px;
        width: 100%;
      
        input {
          padding-right: 100px; 
          height: 52px;
          border: 1px solid rgba(37, 91, 45, 0.3);
          border-radius: 10px;
          border: none;
          outline: none;
          box-shadow: 0px 2px 4px 0px #0000001A;

          &::placeholder{
            padding-left: 20px;
            color: #255B2D;
            opacity: 60%;
          }
        }
        
      
        .btn {
            position: absolute;
            top: 5px;
            right: 2px;
            width: 130px;
            border-radius: 10px;
            background-color: $success;
            color: $white;
            border: none;
            @include text-style(500,16px,24px,0%);
      
          @media (max-width: 576px) {
            position: static;
            width: 100%;
            margin-top: 10px;
            border-radius: 4px;
          }
        }
      }
      
    }
  }