/*Hero section style*/

.hero-section {
	padding-top: 61px;
	padding-bottom: 80px;

	&::before {
		content: "";
		position: absolute;
		top: 158px;
		right: 17.5%;
		background: url('../../../assets/images/hero-circle.svg');
		width: 705px;
		height: 705px;
		// border: 2px solid;
		z-index: -1;
	}
	
	.hero-col
	{
		// padding: 65px 0;
		width: 522px;
	}
	
	h1{
		color: $primary-green;
    @include text-style(700, 64px, 100px,0%);

	}
	.hightlight-hero-text{
		background-color: rgba(65, 238, 91, 0.2);
		padding: 4px;
	}

	p{
        @include text-style(500, 24px, 32px,0%);
		vertical-align: middle;
		margin-top: 24px;
		color: $light-font-color;
	}


	.hero-img{
		position: relative;

		&::after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			background: url('../../../assets/images/dots.svg');
			width: 166px;
			height: 108px;
			// border: 2px solid;
			z-index: -1;
      opacity: 30%;
		}
		.img-hero {
			width: 908px;
			height: auto;
			// border: 2px solid;
		}
	}
}

.hero-section::after
{
	content: "";
    position: absolute;
    top: -15px;
    right: 0px;
    background: url('../../../assets/images/Rectangle.svg') no-repeat;
    width: 660px;
    height: 913px;
    z-index: -1;
}

.btn{
	padding: 14px 32px;
	margin-top: 40px;
  margin-bottom: 20px;
	background-color: $btn-background;
	color: $white;
  @include text-style(500, 16px, 24px,0%);
	@include rounded(10px);
}


/*company section style*/
.company
{
	background-color: #EFFFE8;
	color: $black;
	padding: 66px 48px;

	.company-col1
	{
    width: 450px;
		max-width: 100%;
    min-height: 56px;
    @include text-style(700, 27px, 28px,0%);
		border-right: 4px solid rgba(68, 194, 110,0.3);
	}

	.company-col
	{
		// border: 2px solid;
		gap: 60px;
		padding: 23px 0;
	}

  .swiper-slide {
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
  }
}

// SEO section style starts

.SEO {
  margin-top: 80px;
  z-index: 1;
  position: relative;
  @include square-after();

  .seo-title {
    padding: 80px 0;
    text-align: center;

    @media (max-width: 1400px) {
      padding: 40px 0;
    }
  }

  .seo-container {
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -15%;
      height: 100%;
      width: 100%;
      background-color: rgba(239, 255, 232, 0.4);
      border-top-right-radius: 60px;
      border-bottom-right-radius: 60px;
      z-index: -1;

      @media (max-width: 1400px) {
        left: 0;
        width: 100%;
        @include rounded(0);
      }
    }
  }

  .seo-row {
    padding: 64px 0;

    @media (max-width: 1400px) {
      padding: 40px 0;
    }

    .seo-right {
      max-width: 100%;
      position: relative;

      .seo-img-col {
        width: 617px;
        height: 382px;
        position: relative;
        @include rounded(10px);
        background: linear-gradient(180deg, #B0FFC4 -3.71%, #47C972 72.14%);
        max-width: 100%;

        @media (max-width: 768px) {
          background: none;
          margin-left: 30px;
        }

        .seo-img {
          max-width: 604px;
          width: 100%;
          height: auto;
          position: relative;
          top: 30px;
          left: -20px;
          box-shadow: 0px 20px 40px 0px #00000026;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -50px;
        left: -90px;
        background: url('../../../assets/images/dots.svg') no-repeat;
        width: 163px;
        height: 106px;
        background-size: contain;
        opacity: 30%;

        @media (max-width: 1420px) {
          opacity: 0;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: -40px;
        right: -30px;
        background: url('../../../assets/images/dots.svg') no-repeat;
        width: 163px;
        height: 106px;
        background-size: contain;
        z-index: -1;
        opacity: 30%;

        @media (max-width: 1420px) {
          opacity: 0;
        }
      }
    }

    .seo-left {
      width: 691px;
      max-width: 100%;

      p:nth-child(1) {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 16px;
        text-transform: capitalize;

        @media (max-width: 1400px) {
          font-size: 36px;
          line-height: 44px;
        }

        @media (max-width: 768px) {
          font-size: 28px;
          line-height: 38px;
        }
      }

      p:nth-child(2) {
        max-width: 563px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;

        @media (max-width: 1400px) {
          font-size: 18px;
          line-height: 26px;
        }

        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .seo-btn {
        margin-top: 42px;
        background-color: #fff;
        border: 2px solid #255B2D;
        color: #255B2D;

        &:hover {
          background-color: #255B2D;
          color: #fff;
        }
      }
    }

    @media (max-width: 1500px) {
      .seo-left,
      .seo-right {
        max-width: 100%;
        width: 100%;
      }

      .seo-left {
        margin-bottom: 40px;
      }
    }
  }

  .swiper {
    padding-bottom: 40px;

    .swiper-slide {
      min-width: 0;
      max-width: 100%;
      overflow: hidden;
    }

    .swiper-pagination-bullet {
      background-color: rgba(37, 91, 45, 1) !important;
      width: 30px;
      height: 13px;
      border-radius: 40px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

.seo-left-list {
  margin-top: 24px;

  li {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 28px;
    position: relative;
    margin-bottom: 16px;
    padding-left: 50px;
    width: 50%;
    float: left;
    columns: $light-font-color;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: url('../../../assets/images/right-tik.svg') no-repeat;
      width: 36px;
      height: 36px;
      background-size: contain;
    }

    @media (max-width: 768px) {
      width: 100%;
      float: none;
    }
  }
}

.seo-title-text {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  text-transform: capitalize;
}

.pink-underline {
  position: absolute;
  bottom: -9px;
  right: 0;
  z-index: -1;
}


// Subscription style start

.subscription {
  display: flex;
  justify-content: flex-end;
  margin-top: 200px;
  margin-bottom: 80px;

  .sub-container {
    width: 100%;
    max-width: 1732px;
    height: auto;
    background: rgba(239, 255, 232, 0.4);
    position: relative;
    @include rounded(46px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 537px;
      background: linear-gradient(180deg, #B0FFC4 -3.71%, #47C972 72.14%);
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
    }

    .sub-row {
      gap: 118px;
    }

    .sub-col-left {
      margin-left: 131px;
      margin-top: 64px;
      padding: 15px;

      .seo-title-text {
        font-size: 48px;
      }

      h2 {
        @include text-style(700, 48px, 50px, 0%);
        text-transform: capitalize;
        min-height: 124px;
        max-width: 550px;
      }

      @media (max-width:769px){
        h2{
            @include text-style(700, 40px, 50px, 0%);
        }

        .seo-title-text {
          font-size: 40px;
        }
     }

      p {
        @include text-style(400, 20px, 28px, 0%);
        max-width: 450px;
        margin-top: 20px;
        color: $light-font-color;
      }

      .sub-type {
        width: 100%;
        max-width: 423px;
        height: 104px;
        @include rounded(19.21px);
        background: #CCE2D8;
        margin-top: 24px;

        img {
          max-width: 120px;
          width: 100%;
          height: auto;
          margin-top: 6px;
        }
      }

      .sub-type-text {
        p:nth-child(1) {
          @include text-style(700, 20px, 10px, 0%);
          text-transform: capitalize;
          color: $primary-green;
        }

        p:nth-child(2) {
          @include text-style(400, 14px, 20px, 0%);
          color: $light-font-color;
        }
      }

      .sub-type-2 {
        background: #EFFFE8;
      }
    }

    .sub-col-right {
      max-width: 703px;
      min-height: 434px;
      width: 100%;
      padding-top: 48px;
      padding-left: 50px;
      position: relative;
      background: rgba(239, 255, 232, 1);
      @include rounded(20px);
      margin: auto;

      &::after{
        content: "";
        position: absolute;
        top: -50px;
        left: -50px;
        background: url('../../../assets/images/dots.svg') no-repeat;
        opacity: 30%;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .sub-right-upper-left {
        p {
          font-family: Inter;
          @include text-style(500, 18px, 0px, 0%);
          color: $light-font-color;
          text-align: left;
        }

        span {
          @include text-style(700, 96px, 80px, -1%);
          color: $success;
        }
      }

      .sub-right-upper-right {
        width: 343px;
        height: 88px;
        background: #FFE0C6;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;

        p {
          @include text-style(500, 16px, 24px, 0%);
          color: $light-font-color;
          margin-top: 8px;
        }

        h3 {
          @include text-style(500, 16px, 24px, 0%);
          color: $light-font-color;
          margin-top: 10px;

          span {
            @include text-style(700, 36px, 40px, -1%);
            color: $success;
          }
        }
      }

      .sub-left-list {
        margin-top: 24px;
        margin-bottom: 48px;

        li {
          font-weight: 400;
          font-size: 1.2em;
          line-height: 24px;
          position: relative;
          margin-bottom: 16px;
          padding-left: 30px;
          width: 50%;
          float: left;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: url('../../../assets/images/sub-check.svg') no-repeat;
            width: 20px;
            height: 20px;
            background-size: contain;
          }

          @media (max-width: 768px) {
            width: 100%;
            float: none;
          }
        }
      }

      .btn {
        margin-top: 48px;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 1400px){

  .subscription
  {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .sub-container{

    &::before{
      opacity: 0;
    }

    .sub-row{

      .sub-col-left{
        margin: 0;

      }
    }
  }
}


// project management style
.management-title {
  text-align: center;
  padding: 40px 20px;
  position: relative;
  @include square-after();

  .seo-title-text {
    font-size: 64px;
    line-height: 50px;


    @media (max-width: 992px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .pink-underline {
    max-width: 100%;
    height: auto;

    @media (max-width: 768px) {
      bottom: -5px;
      width: 150px;
    }

    @media (max-width: 576px) {
      opacity: 0;
    }
  }
}

.management {
  text-align: center;
  padding-top: 80px;
  margin-top: 30px;
  display: flex;
  justify-content: start;
  margin-bottom: 80px;

  .management-container {
    width: 100%;
    max-width: 1732px;
    height: auto; // changed from fixed 710px
    background: rgba(239, 255, 232, 0.4);
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 380px;
      background: linear-gradient(180deg, #B0FFC4 -3.71%, #47C972 72.14%);
      border-top-right-radius: 60px;
      border-bottom-right-radius: 60px;
      z-index: -1;
    }

    .nav-tabs {
      border-bottom: none !important;
    }

    .nav-link {
      @include text-style(400, 20px, 28px, 0%);
      padding: 8px 16px;
      @include rounded(10px);
      color: $black;
      transition: all 0.3s ease;

      &.active {
        background-color: #CCE2D8;
        font-weight: 500;
      }

      &:hover {
        background-color: #b6d9cb;
      }
    }

    .management-row {
      margin-top: 20px;
      .management-left {
        img {
          max-width: 665px;
          height: auto;
          @include rounded(10px);
          width: 100%;
        }
      }

      .management-right {
        max-width: 625px;
        @include rounded(10px);
        text-align: left;
        color: #353535;

        h2 {
          @include text-style(700, 48px, 60px, 0%);
        }

        p {
          @include text-style(400, 20px, 28px, 0%);
          margin-top: 17px;
        }
        @media (max-width: 769px)
        {
          h2{
          @include text-style(700, 30px, 34px, 0%);
          } 

          p
          {
          @include text-style(400, 15px, 28px, 0%);
          }
        }
        .btn {
          margin-top: 48px;
        }
      }
    }
  }
}

/*client style start*/
.client {
  padding: 80px 0;
  position: relative;

  .client-title
  {position: relative;
    &::after
    {
      content: "";
      position: absolute;
      top: -150px;
      right: -200px;
      background: url('../../../assets/images/right-side-square.svg') no-repeat;
      width: 372px;
      height: 380px;
      // opacity: 30%;
      z-index: 11;
      // border: 4px solid black;

    }
  }
  
    .seo-title{
      margin-bottom: 80px;
      text-align: center;

        .seo-title-text{
          font-size: 64px;

          @media (max-width: 769px)
          {
            font-size: 30px;
          }
        }
    }
    .container
    {
      min-height: 567px;
      background-color: #EFFFE8;
      padding: 145px;
      position: relative;

      .before-text{
        @include text-style(700,48px,20%,0);
        vertical-align: middle;
        z-index: 11;
        position: absolute;
        top: 70%;
        left: 5%;
        color: $white;
        transform: rotate(-90deg);
        transform-origin: left top;
      }

      &::after{
       content: "";
       position: absolute;
       top: 24px;
       right: 24px;
       background: url('../../../assets/images/dots.svg') no-repeat;
       width: 163px;
       height: 100%;
       opacity: 30%;
      }

      &::before {
        content: "";
        font-weight: 700;
        font-size: 48px;
        color: $white;
        position: absolute;
        top: 100px;
        left: -200px;
        height: 650px;
        width: 500px;
        background: linear-gradient(180deg, #B0FFC4 -3.71%, #47C972 72.14%);
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
      }



      @media (max-width: 1500px) {
        padding: 0;

        &::before{
          opacity: 0;
        }

        .before-text{
          opacity: 0;
        }
      }          
      .swiper-slide {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          min-width: 0;
          max-width: 100%;
          overflow: hidden;
      }

      .slide-left{
        // flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 300px;
        text-align: center;
        img{
            width: 100%;
            max-width: 376px;
            height: 567px;
            @include rounded(9.15px);
        }
      }

      .slide-right 
      {
        flex-shrink: 1;
        flex-basis: 590px;
        text-align: left;
          h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0px;               
            margin-bottom: 5px;
          }
            
          span {
            display: block;
            color: #777;
            margin-top: 16px;
            font-weight: 400;
            font-size: 18.29px;
            line-height: 100%;
            letter-spacing: 0px;
          }
            
          img {
            margin-top: 24px;
            margin-bottom: 30px;
          }
            
          p {
              color: #4A4A4A;
              font-weight: 500;
              font-size: 18px;
              line-height: 1.6;
          }
      }     

      .swiper-button-next, .swiper-button-prev
      {
        background-color: #255B2D;
        opacity: 1 !important;
        color: $white;
        padding: 25px;
        @include rounded(20px);

        @media (max-width: 768px) {
            padding: 12px;
          }
        }

        .custom-prev,
        .custom-next 
        {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color:rgba(37, 91, 45, 1);
          color: #fff;
          width: 40px;
          height: 40px;
          @include rounded(10px);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;

          &::after {
            font-size: 32px;
          }
        }

        .custom-prev {
          left: 90px;
        }

        .custom-next {
          right: 20px;
        }

        @media (max-width: 600px) 
        {
          .custom-prev,
          .custom-next 
          {
            width: 32px;
            height: 32px;

            &::after {
              font-size: 24px;
            }
          }
              
          .custom-prev {
            left: 10px;
          }
              
          .custom-next {
            right: 10px;
          }
        }
              
        @media (max-width: 768px) {
          padding: 20px 10px;
          
          .seo-title-text {
            font-size: 2em;
          }
          
          .slide-right 
          {
            text-align: center;
              h2 
              {
                font-size: 24px;
              }
            
              p 
              {
                font-size: 15px;
              }
          }
        }
    }
}

/*support style start*/

.support {
  position: relative;
  @include square-after($top: -220px);

  .pink-underline {

    @media (max-width: 576px) {
      opacity: 0;
    }
  }

  @media (max-width: 769px) {
    &::after {
      opacity: 0;
    }
  }

  .container {
    margin-top: 160px;
    background: rgba(255, 224, 198, 0.3);
    height: auto;
    @include rounded(10px);
  }

  .support-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (min-width: 992px) {
      gap: 6rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      background: url('../../../assets/images/pink-dots.png') no-repeat;
      width: 163px;
      height: 70px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -10px;
      background: url('../../../assets/images/support-element1.svg') no-repeat;
      width: 115px;
      height: 132px;
      transform: rotate(-180deg);
    }

    .support-text,
    .support-img {
      flex: 1 1 100%;
      max-width: 100%;

      @media (min-width: 992px) {
        flex: 1 1 45%;
        max-width: 540px;
      }
    }

    .support-text {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -53px;
        left: -175px;
        background: url('../../../assets/images/support-element1.svg') no-repeat;
        width: 115px;
        height: 132px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -120px;
        left: -150px;
        background: url('../../../assets/images/pink-dots.png') no-repeat;
        width: 560px;
        height: 132px;
      }

      p {
        @include text-style(700, 48px, 65px, 0%);
        vertical-align: middle;
        color: $success;
      }

      span {
        font-family: 'Segoe UI', sans-serif;
        @include text-style(400, 20px, 28px, 0%);
        display: block;
        margin-top: 34px;
        word-spacing: 10px;
      }

      @media (max-width: 600px){
        padding-top: 30px;
      }
    }

    .support-img {
      margin-top: 19px;
      width: 100%;
      height: auto;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 110px;
        left: -55px;
        background: url('../../../assets/images/pink-dots.png') no-repeat;
        width: 163px;
        height: 132px;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}


  
